In [ ]:
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
1. k='nikhil'
2. l=[1,4,90.78,5+7j,True,'komal']
3. h=789.89
4. o=(1,3,'python',78.89,True,[67,90,65])

In [13]:
# Q2. Given are some following variables containing data:
# (i) var1 = ' '
# (ii) var2 = '[ DS , ML , Python]'
# (iii) var3 = [ 'DS' , 'ML' , 'Python' ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [11]:
#(1)/
#is division operator
a=6
b=3
a/b
#(2)%
#is reminder of the division
print(a%b)
#(3)//
#is floor division
a=1
b=2
print(a/b)
#(4)**
#is exponential operator
print(2**3)

0
0.5
8

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
â€‹
p=[1,2,4,67.90,True,'nikky',7+8j,False,'santosh',8+9j]
for i in p:
    print(type(i))
    print(i)
    
<class 'int'>
1
<class 'int'>
2
<class 'int'>
4
<class 'float'>
67.9
<class 'bool'>
True
<class 'str'>
nikky
<class 'complex'>
(7+8j)
<class 'bool'>
False
<class 'str'>
santosh
<class 'complex'>
(8+9j)

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [4]:
a=int(input('enter the value of a'))
b=int(input('enter the value of b'))
while a%b==0:
    print('a is completelty divisible by b')
    break

enter the value of a 10
enter the value of b 5

a is completelty divisible by b

In [8]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

g=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in g:
    if i%3 == 0:
        print(i," is divisible by 3")
    else :
        print(i, " is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
mutable data types:the data types that can be changed afteror modified even after being already existed
ex.list,dict,
immutable data types:the data types which can not be changed afteronce being defined
ex.tuple,string